<section id="works">
<h2 class="text-center">Наукові роботи</h2>
<div class="container-fluid">
<div class="table-responsive">
<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
      <th width="100px">Вид</th>
      <th width="315px">Назва</th>
      <th width="195px">Автор</th>
      <th width="88px">Рік</th>
      <th width="206px">Науковий керівник</th>
      <th width="98px" ></th>
      <th width="98px" ></th>
      </tr>
      </thead>
      <tbody>
        <tr>
        <td>ph. D</td>
        <td>Методи та засоби моделювання петлі бойда у військових застосуваннях з використанням онтологічного підходу (01.05.03 – математичне та програмне забезпечення обчислювальних машин і систем)</td>
        <td>Оборська О.В</td>
        <td>2016</td>
        <td>д.т.н., професор Литвин В.В.</td>
        <td><span class="icon-document"><img src="images/file-document.svg" /></span></td>
        <td><span class="icon-document"><img src="images/file-download.png" /></span></td>
        </tr>
        <tr>
        <td>ph. D</td>
        <td>Система комп’ютерного перекладу української жестової мови з використанням граматично доповненої онтології (10.02.21 – структурна, прикладна та математична лінгвістика)</td>
        <td>Лозицька О.В</td>
        <td>2016</td>
        <td>д.т.н., професор Пасічник В.В.</td>
        <td><span class="icon-document"><img src="images/file-pdf.svg" /></span></td>
        <td><span class="icon-document"><img src="images/file-download.png" /></span></td>
        </tr>
        </tbody>
  </table>
</div>
</div>
<!-- container -->
</div>
</section>
