<section id="contacts">

  <h2 id="contacts-title" class="text-center">Робочі місця та контакти працівників</h2>
  <div class="container">
    <dl class="dl-horizontal">
      <dt>4 навчальний корпус,
      <br />
      кімната № 120, тел. (032) 258-26-38</dt>

      <dd><br />Литвин Василь Володимирович</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>4 навчальний корпус,
      <br />
      кімната № 121, тел. (032) 258-23-69</dt>

      <dd><br />Бойко Наталія Іванівна</dd>
      <dd>Кісь Ярослав Петрович</dd>
      <dd>Кравець Петро Олексійович</dd>
      <dd>Кучковська Наталія Степанівна</dd>
      <dd>Проданюк Микола Михайлович</dd>
      <dd>Якушев Володимир Семенович</dd>
      <dd>Юринець Ростислав Володимирович</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>4 навчальний корпус,
      <br />
      кімната № 121а, тел. (032) 258-23-69</dt>

      <dd><br />Андруник Василь Адамович</dd>
      <dd>Висоцька Вікторія Анатоліївна</dd>
      <dd>Гірняк Марія Григорівна</dd>
      <dd>Демчук Андрій Богданович</dd>
      <dd>Кушнірецька Ірина Ігорівна</dd>
      <dd>Лозинська Ольга Володимирівна</dd>
      <dd>Марків Оксана Олександрівна</dd>
      <dd>Шестакевич Тетяна Валеріївна</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>4 навчальний корпус,
      <br />
      кімната № 122а, тел. (032) 258-25-38</dt>

      <dd><br />Басюк Тарас Михайлович</dd>
      <dd>Бурова Оксана Ярославівна</dd>
      <dd>Василюк Андрій Степанович</dd>
      <dd>Вовк Олена Борисівна</dd>
      <dd>Заяць Марія Михайлівна</dd>
      <dd>Мельникова Наталія Іванівна</dd>
      <dd>Оборська Оксана Володимирівна</dd>
      <dd>Ришковець Юрій Володимирович</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>4 навчальний корпус,
      <br />
      кімната № 122б, тел. (032) 258-25-38</dt>

      <dd><br />Крупа Роман Йосифович</dd>
      </dl>

    <dl class="dl-horizontal">
      <dt>6а навчальний корпус,
      <br />
      кімнати № 102</dt>

      <dd><br />Кунанець Наталя Едуардівна</dd>
      <dd>Шаховська Наталя Богданівна</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>6а навчальний корпус,
      <br />
      кімната № 103</dt>

      <dd><br />Сидоряк Микола Юрійович</dd>
      <dd>Яримович Андрій Романович</dd>
      </dl>

    <dl class="dl-horizontal">
      <dt>6а навчальний корпус,
      <br />
      кімната № 104</dt>

      <dd><br />Пасічник Володимир Володимирович</dd>
      </dl>

    <dl class="dl-horizontal">
      <dt>6а-й навчальний корпус,
      <br />
      кімната № 201, тел. (032) 258-25-51</dt>

      <dd><br />Верес Олег Михайлович</dd>
      <dd>Рішняк Ігор Васильович</dd>
      </dl>

    <dl class="dl-horizontal">
      <dt>6а навчальний корпус,
      <br />
      кімната № 207а, тел. (032) 258-25-51</dt>
      <dd><br />Захарія Любов Михайлівна</dd>
      <dd>Камінський Роман Миколайович</dd>
      <dd>Нич Лілія Ярославівна</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>6а навчальний корпус,
      <br />
      кімната № 207б, тел. (032) 258-25-51</dt>
      <dd><br />Буров Євген Вікторович</dd>
      <dd>Катренко Анатолій Васильович</dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>6а навчальний корпус,
      <br />
      кімната № 209, тел. (032) 258-25-51</dt>
      <dd><br />Григорович Віктор Геннадійович</dd>
      <dd>Давидов Максим Володимирович</dd>
      <dd>Лозицький Олександр Анатолійович</dd>
      <dd>Савчук Вероніка</dd>
      <dd>Веретеннікова Наталія</dd>
    </dl>

  </div>

</section>
